

.Blog-navbar-container{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top:20px;
    background-color: white;

   
}

.Blog-navbar-box{
    width:60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Blog-navbar-box > ul{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    list-style: none;

}

.Blog-navbar-box > ul  > li  > a{
   text-decoration: none;
   font-size: 13px;
   font-family:  Arial, Helvetica, sans-serif;
   font-weight:700;
   color:#7f8488;
}


@media  screen and (max-width:840px) {

    .Blog-navbar-container{
        justify-content: flex-start;
        
    }

    .Blog-navbar-box{
       width:100%;
       padding-left: 10px;
       padding-right: 10px;
    }
    
    .Blog-navbar-box > ul  > li  > a{
        font-size: 11px;
        font-weight:600;
     }

}
